.container-narrow {
	margin: 0 auto;
  width: 700px;
}

.container-narrow a {
  margin-left: 10px;
}

#footer .container-narrow {
	text-align: center;
}

div.post-body {
  width: 700px;
}

div.links {
  margin: 5px 0;
}

div.links.right {
  float: right;
}

/* bootstrap sticky footer */
html,body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}